#questionEditor,  #codeEditor, #inputEditor{ 
    position: relative;
    width: 100%;
    height: 500px;
}
.container {
    max-width: 100%;
    width: 95%;
    & .row .col {
        padding: 0;
    }
}
#passwordDifficultyProgressBar{
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background-color: darkgrey;
    & #passwordDifficultyProgressBarForeground{
        height: 100%;
        width: 0;
        background-color: red;
        border-radius: 5px;
    }
}
#inputEditorContainer{
    position: relative;
}
#inputExample{
    position: absolute;
    z-index: 50;
    background-color: white;
    border: solid grey 2px;
    height: 0px;
    bottom: 0.2em;
    left: 0.3em;
    right: 0.3em;
    overflow: scroll;
    opacity: 0;
    transition: opacity 250ms,
        height 250ms;

    &.opened{
        height: 150px;
        opacity: 1;
    }
    & .content{
        margin: 0 .25em;
        width: calc(100% - .5em);
        white-space: nowrap;
    }
}
#duelCreation{
    & .modal-content{
        display: grid;
        grid-template-columns : 1fr 1fr;
        & > div{
            grid-column: span 2;
        }
    }
}

//------------------------------------ NAVBAR ------------------------------------//
.score-row{
    display: grid;
    grid-template-columns: 100px 64px 1fr 1fr;
}
.navbar{
    background-image: url(../images/navbar.png);
    background-color: transparent;
    height: 103px;
    box-shadow: none;
    background-repeat: no-repeat;
}
.navbar-fixed {
    height: 110px;
}
a.brand-logo{
    height: 80%;
    padding-left: 0.5em;
    transition: transform 250ms;
    outline: none;
    & > .logo{
        width: auto;
        height: 100%;
    }
    &:hover{
        transform: translate(-50%) scale(1.1);
    }
}
li > a{
    &.left, &.right{
        padding-right: 5px;
        padding-left: 5px;
    }
}
.languageSelector{
    position: relative;
    & > a > img{
        vertical-align: middle; 
    }
    & > div{
        z-index: -1;
        display: none;
        position: absolute;
        right: 0;
        padding: 2.5em 0 .5em 0;
        grid-template-rows: 2em 2em;
        background-color: black;
        border-radius: 0 0 0 8%;
        & a{
            display: grid;
            grid-template-columns: 1fr 30px;
            grid-gap: .5em;
            place-items: center;
            line-height: 100%;
        }
    }

    &:active > div{
        display: grid;
    }

    &.mobile > div{
        right: 25%;
        left: 32px;
        border-radius: 0 0 10px 10px;
        & a{
            grid-template-columns: 30px 1fr;
        }
    }
}
//------------------------------------ MODE SELECTOR ------------------------------------//
#modeSelector {
    display: grid;
    grid-template-columns : repeat(4, 32px);
    grid-gap: .4em;
    justify-content: center;
    height: 32px;
    & div{
        height: inherit;
    }
    & input{
        display:none;

        &+label{
            height: inherit;
            opacity: 0.25;
            padding-left: 0;
            &>img{
                height: inherit;
                border-radius: 50%;
            }
            &::after, &::before {
                display: none;
            }
        }
        &:checked+label{
            opacity: 1;
            &>img{
                -webkit-box-shadow: 0px 0px 5px 5px rgba(227,163,0,0.69);
                -moz-box-shadow: 0px 0px 5px 5px rgba(227,163,0,0.69);
                box-shadow: 0px 0px 5px 5px rgba(227,163,0,0.69); 
            }
        }
    }
}

//------------------------------------ MEDIUM TO MAX SIZE ------------------------------------//
@media (min-width: 992px) {
    //------------------------------------ NAVBAR ------------------------------------//
    a.brand-logo:hover{
        transform: scale(1.1);
    }
    .navbar-fixed {
        height: 120px;
    }

    #modeSelector {
        grid-template-columns : repeat(4, 64px);
        height: 64px;
        grid-gap: .7em;
        & input{
            &:checked+label{
                &>img{
                    -webkit-box-shadow: 0px 0px 10px 10px rgba(227,163,0,0.69);
                    -moz-box-shadow: 0px 0px 10px 10px rgba(227,163,0,0.69);
                    box-shadow: 0px 0px 10px 10px rgba(227,163,0,0.69); 
                }
            }
        }
    }
}