$darkRed: #9e9e9e;
$darkBrown: #443127;
$green: #9e9e9e;
$red: #9e9e9e;

$normalImgSize: 8em;
$smallImgSize: 4em;

$smallSpace: .5em;

@mixin userSelect($property){
    -webkit-user-select: $property; 
    -moz-user-select: $property; 
    -ms-user-select: $property;
    user-select: $property;     
}
#questionEditor,  #codeEditor, #inputEditor{ 
    position: relative;
    width: inherit;
}
#inputEditorContainer{
    position: relative;
}
#duelCreation{
    & .content{
        display: grid;
        grid-template-columns : 1fr 1fr;
        & > div{
            grid-column: span 2;
        }

    }
}
.modal-content>.content>p{
    margin-bottom: $smallSpace;
}

//------------------------------------ NAVBAR ------------------------------------//
.navbar{
    @include userSelect(none);  
    background-image: url(../images/navbar.png);
    background-color: transparent;
    height: 103px;
    background-repeat: repeat-x;
    box-shadow: none;
}
.navbar-fixed {
    z-index: 1000;
    height: 110px;
}
a.brand-logo{
    height: 80%;
    padding-left: $smallSpace;
    transition: transform 250ms;
    outline: none;
    & > .logo{
        width: auto;
        height: 100%;
    }
    &:hover{
        transform: translate(-50%) scale(1.1);
    }
}
li > a{
    &.left, &.right{
        padding-right: 5px;
        padding-left: 5px;
    }
}
//------------------------------------ MODE SELECTOR ------------------------------------//
#modeSelector, #duelModeSelector {
    display: grid;
    grid-template-columns : repeat(4, 2em);
    grid-gap: .4em;
    justify-content: center;
    height: 2em;
    & div{
        height: inherit;
    }
    & input{
        display:none;

        &+label{
            height: inherit;
            opacity: .25;
            padding-left: 0;
            &>img{
                height: inherit;
                border-radius: 50%;
            }
            &::after, &::before {
                display: none;
            }
        }
        &:checked+label{
            opacity: 1;
            &>img{
                -webkit-box-shadow: 0px 0px 5px 5px rgba(227,163,0,.69);
                -moz-box-shadow: 0px 0px 5px 5px rgba(227,163,0,.69);
                box-shadow: 0px 0px 5px 5px rgba(227,163,0,.69); 
            }
        }
    }
}
#duelModeSelector{
    grid-template-columns : repeat(5, 2em);
}
//------------------------------------ GOOD CSS ------------------------------------//
//------------------------------------ BASE ------------------------------------//
body{
    background-color: $darkBrown;
}
p, a{
    @include userSelect(none);  
    text-align: center;
}
label[for='userImage']{
    height: inherit;
    position: relative;
    width: $normalImgSize;
}
button[name='deleteUserImage']{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    & img{
        height: inherit;
        width: inherit;
        display: block;
        border-radius: 50%;
    }
}
//------------------------------------ CLASSES ------------------------------------//
#duelLangageImg{
    height: $smallImgSize;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(227,163,0,.69);
    -moz-box-shadow: 0px 0px 5px 5px rgba(227,163,0,.69);
    box-shadow: 0px 0px 5px 5px rgba(227,163,0,.69); 
}
.score-row{
    &.leader{
        grid-template-columns: $normalImgSize + 2em 1fr 1fr;
        & img {
            margin: auto;
        }
    }
    display: grid;
    grid-template-columns: 7em $normalImgSize 1fr 1fr;
    margin: 1em 0;
    padding: $smallSpace 0;
    border: 2px solid black;
    border-radius: 5px;
    & p{
        margin: auto;
        font-size: 2em;
        font-weight: bold;
        color: black;
    }
}
.gold{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FFEBA8 0%, #E5C787 8%, #F2D792 30%, #D2B360 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #F2D792 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.silver{
    background: radial-gradient(ellipse farthest-corner at right bottom, #404040 0%, #848484 8%, #EDEDED 30%, #E2E2E2 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #898989 0%, #E2E2E2 8%, #FDFDFD 25%, #A4A4A4 62.5%, #A8A8A8 100%);
}
.bronze{
    background: radial-gradient(ellipse farthest-corner at right bottom, #EABAAD 0%, #DEA99E 8%, #D88F7A 30%, #B07366 60%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFF1EE 0%, #EABAAD 8%, #D88F7A 25%, #7E3B2A 62.5%, #DF946D 100%);
}
.light{
    background-color: lightgray;
}
.normal{
    background-color: gray;
}
.dropdown{
    z-index:998;
    position: fixed;
    right: 0;
    top: 4.2em;
    width: 13em;
    height: 0px;
    transform-origin: top;
    transition: height 250ms ease-in-out;
    &>.content>a{
        margin-top: .8em;
    }
    &.active{
        height: 6em;
    }
    & .top{
        background-image: url(../images/dropdownTop.png);
    }
    & .bottom{
        background-image: url(../images/dropdownBottom.png);
    }
    & .top, & .bottom{
        width: inherit;
        height: 2em;
        background-size: cover;
    }
    &>.content{
        background-image: url(../images/dropdownMiddle.png);
        background-size: cover;
        width: inherit;
        height: inherit;
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        &>a{
            height: 2em;
            display: grid;
            grid-template-columns: 1fr 1fr;        
            justify-items: center;
            line-height: 2em;
        }
    }
}
.nav-link{
    border: none;
    background-color: transparent;
}
.password{
    display: grid;
    grid-template-columns: 1fr 3em;
}
.btn-password{
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    margin: 0 0 20px 0;
    &:hover, &:focus, &:active{
        background: none;
    }  
    &::after{
        content: " ";
        position: absolute;
        height: 60%;
        width: 100%;
        border-left: 1px solid #9e9e9e;
        top: 20%;
        left: 0;
    }
}
.passwordStrength{
    position:absolute;
    right: 4em;
    top: 1em;
    width: 5em;
    height: 10px;
    border-radius: 5px;
    background-color: darkgrey;
    & .passwordStrengthForeground{
        height: 100%;
        border-radius: 5px;
    }
}
.passwordStrengthForeground{
    &[strength="0"]{
        background-color: red;
        width: 0;
    }
    &[strength="1"]{
        background-color: red;
        width: 20%;
    }
    &[strength="2"]{
        background-color: orange;
        width: 40%;
    }
    &[strength="3"]{
        background-color: yellow;
        width: 60%;
    }
    &[strength="4"]{
        background-color: yellow;
        width: 80%;
    }
    &[strength="5"]{
        background-color: green;
        width: 100%;
    }
}
.relative{
    position: relative;
}
.collapsible, .collapsible-body, .collapsible-header{
    border: none;
}
.collapsible-header{
    background-color: #660107;
    border-bottom: 1px solid black;
}
.editor{
    height: 30em;
}
.relative{
    position: relative;
}
.split{
    display: grid;
    grid-template-rows: auto auto;
    &.middleBorder> :nth-child(2n+1){
        padding: 2em;
        border-right: 1px solid black;
    }
}
.center{
    display: block;
    margin: 0 auto;
}
.pie-chart{
    position: relative;
    &[id]::before{
        content: attr(id);
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
    }
}
.v-center{
    margin: 0 auto;
}
.hidden{
    display: none;
}
.userImg{
    border: solid black 2px;
    border-radius: 50%;
}
.imgSize, .userImg{
    height: $normalImgSize;
    width: $normalImgSize;

    &.small{
        height: $smallImgSize;
        width: $smallImgSize;
    }
}
.clickable{
    cursor: pointer; 
}
.material-icons{
    margin: auto 0;
    @include userSelect(none);  
}
.loader{
    &.large{
        height: 10rem;
    }
    &.medium{
        height: 6rem;
    }
    &.medium{
        height: 3rem;
    }
    >img{
        margin: auto;
        display: block;
        height: inherit;
    }
}
.collapsible-header{
    display: grid;
    grid-template-columns: 8em 1fr 2em;
    &:nth-child(1) p{
        text-align: left;
    }
}
i.material-icons.hidden{
    visibility: hidden;
}
.success{
    border-radius: 5px;
    border: solid 2px green;
    background-color: lightgreen;
    color: green;
    font-size: 1.5em;
    font-weight: bold;
    & p{
        text-align: center;
        margin: auto;
    }
}
.errors{
    border-radius: 5px;
    border: solid 2px red;
    background-color: lightcoral;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    & p{
        text-align: center;
        margin: auto;
    }
}
.btn-clear{
    border: none;
    background-color: transparent;
    & *{
        vertical-align: middle;
    }
    &:focus{
        background-color: transparent;
    }
    & img{
        position: relative;
        z-index: -1;
    }
}
.modal.bottom-sheet{
    max-height: 95%;
}
.duelList{
    & li{
        justify-items: center;
        margin-top: .25em;
        display: grid;
        grid-template-columns: $smallImgSize + 1em 1fr $smallImgSize / 2 $smallImgSize / 2 1fr $smallImgSize + 1em;
        align-items: center;
        &>:nth-child(1){
            grid-row: 1;
            grid-column: 1 / span 3;
            height: 100%;
            width: 100%;
            border-radius: $smallSpace 0 0 $smallSpace;
        }
        &>:nth-child(2){
            grid-row: 1;
            grid-column: 4 / span 3;
            height: 100%;
            width: 100%;
            border-radius: 0 $smallSpace $smallSpace 0;
        }
        &>:nth-child(3){
            grid-row: 1;
            grid-column: 1;
        }
        &>:nth-child(4){
            grid-row: 1;
            grid-column: 2;
        }
        &>:nth-child(5){
            grid-row: 1;
            grid-column: 3 / span 2;
        }
        &>:nth-child(6){
            grid-row: 1;
            grid-column: 5;
        }
        &>:nth-child(7){
            grid-row: 1;
            grid-column: 6;
        }
        &>:nth-child(8){
            grid-row: 1;
            grid-column: 1 / span 6;
            height: 100%;
            line-height: $smallImgSize;
            width: 100%;
        }
    }
    & p, & a{
        font-weight: bold;
        font-size: 1.5rem;
    }
    & .won{
        background-color: green;
    }
    & .lost{
        background-color: red;
    }
    & .draw{
        background-color: yellow;
    }
    & .expired{
        background-color: grey;
    }
    & .inProgress{
        display: none;
    }
    & .won, & .lost, & .draw, & .expired, & .inProgress{
        opacity: 1;
    }
    margin-bottom: 1em;
}
.duelSplit{
    display: grid;
    grid-template-columns: 20% 80%;
}

//------------------------------------ IDS ------------------------------------//
#inputExample{
    position: absolute;
    z-index: 50;
    background-color: white;
    border: solid grey 2px;
    height: 0px;
    bottom: .2em;
    left: .3em;
    right: .3em;
    overflow: scroll;
    opacity: 0;
    transition: opacity 250ms,
        height 250ms;

    & .content{
        margin: 0 .25em;
        width: calc(100% - .5em);
        white-space: nowrap;
    }
}
.active #inputExample{
    height: 9em;
    opacity: 1;
}
#register{
    margin: 0 auto;
    display: block;
    margin-bottom: 3.5em;
}
#loginModal, #registrationModal{
    min-height: auto;
    .modal-content{
        padding-bottom: 0;
    }
}
#nav-mobile{
    & *{
        font-weight: 400;
        font-size: 1.5rem;
        transition: transform 100ms ease-in;
    }
    & a:hover{
        background: none;
        transform: scale(1.1);
    }
    & a.disabled{
        opacity: .5;
    }
}
#duelCreation{
    background-color: #443127;
}
//------------------------------------ MEDIUM TO MAX SIZE ------------------------------------//
@media (min-width: 992px) {
    //------------------------------------ NAVBAR ------------------------------------//
    a.brand-logo:hover{
        transform: scale(1.1);
    }
    .navbar-fixed {
        height: 8em;
    }

    #modeSelector, #duelModeSelector {
        grid-template-columns : repeat(4, $smallImgSize);
        height: $smallImgSize;
        grid-gap: .7em;
        & input{
            &:checked+label{
                &>img{
                    -webkit-box-shadow: 0px 0px 10px 10px rgba(227,163,0,.69);
                    -moz-box-shadow: 0px 0px 10px 10px rgba(227,163,0,.69);
                    box-shadow: 0px 0px 10px 10px rgba(227,163,0,.69); 
                }
            }
        }
    }
    #duelModeSelector{
        grid-template-columns : repeat(5, $smallImgSize);
    }

    .split{
        grid-template-columns: 1fr 1fr;
    }
    .big-container{
        width: 80%;
    }
    .md-container{
        width: 70%;
    }
    .big-container, .md-container{
        margin: 0 auto;
    }
    .passwordStrength{
        width: 9em;
    }
}

//------------------------------------ PIE CHART ------------------------------------//
[data-pie-id] li:nth-child(1) {
    color: #62ef3b;
}
[data-pie-id] li:nth-child(2) {
    color: #cf0e0e;
}
[data-pie-id] li:nth-child(3) {
    color: #aec4a8;
}
[data-pie-id] li:nth-child(4) {
    color: #4bbf2b;
}
ul[data-pie-id] {
    list-style: none;
    padding: 1em;
}
ul[data-pie-id] + div {
    width: 20em;
}