.flag {
    float: left;
    padding: 0 !important;
    margin: 0 5px 0 0;
    width: 32px;
    height: 32px;
    background: url(../../../images/flags.png) no-repeat;
}

.flag.en {
    background-position: 0 0;
}

.flag.fr {
    background-position: -32px 0px;
}
