$vars: (
  yellow: #ff0,
  blk: #000,
  lightblue: #a1dfcd,
  ff: sans-serif,
  fw-n: 300,
  fw-m: 600,
  fw-b: 800,
);

@mixin var($property, $variable) {
  #{$property}: map-get($vars, $variable);
  #{$property}: var(--#{$variable});
}


:root {
  @each $property, $value in $vars {
    --#{$property}: #{$value};
  }
}